*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: Poppins, sans-serif;
    max-width: 1440px;
    max-height: 4510px;
    width: 100%;
    height: 100%;
    background-color: #F9F9F9;
}
.header{
    max-width: 1272px; 
    padding: 0;  
    margin: 37px 84px;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    max-width: 234px;
    max-height: 49px;
    width: 100%;

}
.navi a, .button{
 color: #262626;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.button{
 padding: 9px 33px;
 border-radius: 40px;
background: #4CE0D7;
}
.navi img{
    width: 47px;
    height: 47px;
    flex: shrink 0; 
}
.navi{
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer-conteiner{
    max-width: 1440px;
    height: 308px;
    border-radius: 40px 40px 0px 0px;
    background-color: #FFFFFF;

    position: relative;
}

.footer-logo img{
    max-width: 226px;
    height: 49px;
    width: 100%;
}

.footer-cont{
    max-width: 1270px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 89px 127px 84px;

}
.cont-cont{
    display: flex;
    align-items: center;
    gap: 13px;
}
h2{
 color: #262626;
font-family: Poppins, sans-serif;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text{
max-width:227px;
height: 42px;
flex-shrink: 0;
}
.absolut-element{
    position: absolute;
}
.first-element{
    max-width: 1267px;
    top: 213px;
    bottom: 95px;
    left: 87px;
    right: 87px;
}

.second-element{
    color: #262626;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 247px;
    bottom: 37px;
    left: 88px;
    right: 939px; 
}

/* First-section-Maria */

.welcome-section {
    max-width: 1272px;
    width: 100%;
    margin: 0 auto;

    height: 559px;
    width: 100%;

    background-image: url(./assets/pexels-andrea-piacquadio-994234\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

    margin-left: 84px;
    margin-right: 84px;
    margin-bottom: 72px;
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.welcome-section h1 {
    
    
    font-family: 'Poppins';
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;

    color: #ffff;

    margin-left: 57px;
    margin-top: 0px;
    margin-bottom: 19px;
    margin-right: 588px;
}

.welcome-section span {

    background: linear-gradient(to right, #4CE0D7, #8BA9F4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;

}

.welcome-section h3 {
    
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;

    color: #ffff;

    margin-left: 57px;
    margin-top: 218px;
    margin-bottom: 19px;
    margin-right: 1026px;
}

.welcome-section p {
    
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    color: #ffff;

    margin-left: 53px;
    margin-top: 0px;
    margin-bottom: 141px;
    margin-right: 725px;

    width: 494px;
    height: 72px;

}

/* Trending section after this (Alex's part) */
.sectionheader {
    padding: 0;
    margin: 97px 126px 0;
    color: #262626;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.trendinghorizontal{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.trendingvertical{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

/* Fixes the vertical section not looking proper problem */
.container {
    display: flex;
    flex-direction: row wrap;
}

.vertcontent {
    max-width: 656px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;   
    background: white; 
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05); 
    border-radius: 20px;
    height: 100%;
}

.vertcard {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    max-width: 1204px;
    width: 100%;
    max-height: 368px;
    height: 100%;
    background: white; 
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05); 
    border-radius: 20px;
}

#hcard1 {
    max-height: 670px;
    max-width: 579px;
    margin: 55px 30px auto 118px;
}

#hcard2 {
    max-height: 670px;
    max-width: 565px;
    margin: 55px 118px 40px 30px;
}

#vcard1 {
    margin-top: 88px;
}

#vcard2 {
    margin-top: 48px;
}

#vcard3 {
    margin-top: 58px;
    margin-bottom: 69px;
}

.cardimg {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cardimgvert {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    max-width: 548px;
    max-height: 368px;
}

.imgtag { 
    display: flex;
    background: #262626;
    border-radius: 40px;
    position: absolute;
    top: 20px;
    left: 34.14px;
    width: 175.438px;
    height: 36.491px;
    justify-content: center;
}

.imgtag p {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 9.3px 0;
}

.pretitlehor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pretitlevert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.womaniconhor {
    margin: 30px 25px 35px 25px;
    border-radius: 50%;
    max-width: 100%;
}

.womaniconver {
    margin: 18px 14px 12px 40px;
    border-radius: 50%;
    max-width: 100%;
}

.namedate {
    display: flex;
    align-content: center;
    gap: 150px;
    color: #BCBCBC;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.horcardtext {
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 200px 20px 35px;
}

.vertcardtext {
    color: #262626;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 100px 20px 40px;
}

.cardtitle {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.vertcardtitle {
    font-size: 26px;
    font-weight: 700;
    margin: 0 100px 30px auto;
}

.readmorebtn {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
    text-decoration: none;
    margin: auto auto 45px 22px;
}

.readmorebtn a {
    display: flex;
    align-items: center;
    color: #4CE0D7;
}

.readmorebtn a:hover {
    text-decoration: underline;
}

